html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;

}

.transition {
    transition: all 0.3s;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

// slicky footer
body {
    @include f400;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

// slicky footer -end
.btn {
    border: none;
    padding: 12px 18px;
    @include f400;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    background-color: $bg-blue;
    border: 1px solid $bg-blue;
    color: white;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: white;
        color: $bg-blue;
        border: 1px solid $bg-blue;
    }

    &:active {
        box-shadow: 0px 0px 9px -1px $bg-blue inset;
    }

    &:focus {
        border: 1px solid #fff;
    }
}

.link-btn {
    border: 1px solid white;
    background-color: transparent;
    border-radius: 28px;
    font-size: 15px;
    color: #fff;
    @include f400;
    padding: 17px 32px;

    &:hover {
        background-color: #fff;
        color: $bg-blue;
    }

    &:active {
        box-shadow: 0px 0px 9px -1px $bg-blue inset;
    }

    &:focus {
        border: 1px solid $bg-blue;
        outline-color: transparent;
    }
}

.user__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.rate-star {
    display: inline-block;

    &--category {
        margin-left: 0;
    }

    &--slider {
        margin-left: auto;
    }

    &--tab {
        margin-right: auto;
        margin-left: 29px;
    }
}

//title-block
.title-box {
    margin: 0 auto;
    max-width: 576px;
    width: 100%;
    text-align: center;
    @include f400;

    &--white {
        color: white;
    }

    &__title {
        font-size: 36px;
        margin-bottom: 18px;
        color: rgb(0, 0, 0);

        &--white {
            color: white;
        }
    }

    &__highlight {
        color: $bg-blue;
    }

    &__subtitle {
        line-height: 30px;
        color: rgb(85, 85, 85);

        &--white {
            color: white;
        }
    }
}

.breadcrumbs {
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}