html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;

}

.transition {
    transition: all 0.3s;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'Quicksand',
        sans-serif;
}

.btn {
    border: none;
    padding: 12px 18px;
    @include f400;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    background-color: $bg-blue;
    border: 1px solid $bg-blue;
    color: white;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: white;
        color: $bg-blue;
        border: 1px solid $bg-blue;
    }

    &:active {
        box-shadow: 0px 0px 9px -1px $bg-blue inset;
    }

    &:focus {
        outline-style: inherit;
        border: 1px solid #fff;
    }
}

.link-btn {
    border: 1px solid white;
    background-color: transparent;
    border-radius: 28px;
    font-size: 15px;
    color: #fff;
    @include f400;
    padding: 17px 32px;

    &:hover {
        background-color: #fff;
        color: $bg-blue;
    }

    &:active {
        box-shadow: 0px 0px 9px -1px $bg-blue inset;
    }

    &:focus {
        outline-style: inherit;
        border: 1px solid $bg-blue;
    }
}

.user__avatar {
    width: 30px;
    height: 30px;
}

.rate-star {
    display: inline-block;

    &--slider {
        margin-left: auto;
    }

    &--tab {
        margin-right: auto;
    }
}