//ANCHOR 1920 x 1080
@media (max-width: 1920px) {}

//ANCHOR 1360px
@media (max-width: 1360px) {}

//ANCHOR 1200px
@media (max-width: 1200px) {
    //SUBPROMO
    .subpromo-inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .subpromo-card {
        &__text {
            max-width: 296px;
        }
    }
    //!!SUBPROMO
    //PRODUCTS
    .product-tab {
        padding: 30px 30px 15px 30px;
        text-align: center;
    }
    //!!PRODUCTS
    //BENEFITS
    .card-grid {
        justify-content: center;
    }
    //!!BENEFITS
    //NEWS
    .news-inner {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    //!!NEWS
    //QUICK-INFO
    .quick-info {
        &__inner {
            align-items: baseline;
        }
        &__box {
            margin: 0 auto;
        }
    }
    //!!QUICK-INFO
    //product-filter
    .product-filter {
        &__result {
            font-size: 18px;
        }
    }
    //!!product-filter
    //SINGLE_PRODUCT page
    .product-one {
        &__inner {
            flex-direction: column;
        }
        &__content {
            min-width: 100%;
        }
        &__aside {
            margin-bottom: 30px;
            width: 100%;
            max-width: 100%;
        }
        &__aside-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    .tab-card {
        max-width: 100%;
        &__img {
            max-width: 100%;
        }
    }
    .aside-info,
    .aside-rating,
    .aside-author {
        margin-top: 0;
        width: 100%;
    }
    //!!SINGLE_PRODUCT page
    //LOGIN
    .contacts__inner {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    //!!LOGIN
}

//ANCHOR 1041px
@media (max-width: 1041px) {
    .footer-top {
        padding: 95px 0 90px;
        &__inner {
            flex-direction: column;
        }
        &__title {
            margin-top: 15px;
        }
        &__columns {
            display: flex;
            justify-content: space-around;
        }
    }
    .addres {
        max-width: 100%;
    }
    //!!HEDER-TOP/SUBHEADER
    //SUBPROMO
    .subpromo-form {
        &::after,
        &::before {
            content: "";
            position: absolute;
        }
    }
    //!!SUBPROMO
    //PRODUCTS
    .product-tab {
        display: flex;
        justify-content: center;
    }
    .slick-active {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    //!!PRODUCTS
    //SCORE
    .score {
        &__inner {
            justify-content: space-around;
        }
    }
    //!!SCORE
    //CATEGORY page
    .product-page {
        &__wrapper {
            flex-direction: column;
            &--fav {
                flex-direction: row;
                justify-content: space-around;
            }
        }
        &__aside {
            width: 100%;
            margin-right: 0;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    .product-filter {
        &__result {
            display: none;
        }
        &__select--fav {
            margin-right: 0;
        }
    }
    .title-block__btn--fav {
        padding: 41px 5px;
    }
    //!!product-filter
    //BLOG PAGE
    .blog {
        &__inner {
            flex-direction: column-reverse;
        }
        &__content {
            margin-right: 0;
            margin: 0 auto;
        }
    }
    .accordion-item__trigger--blog,
    .accordion-item__trigger--blog {
        width: 100%;
    }
    .accordion-item__content--blog {
        max-width: 100%;
    }
    //!!BLOG PAGE
}

//ANCHOR 993px
@media (max-width: 993px) {
    //HEDER-TOP/SUBHEADER
    .header-top {
        &__btn {
            display: none;
        }
        &__icons {
            justify-content: center;
            margin-left: auto;
        }
    }
    .promo-breadcrumbs__link {
        font-size: 14px;
    }
    .account {
        margin-right: 10px;
        margin-left: auto;
    }
    .menu {
        &__list {
            display: flex;
            flex-direction: column;
            background-color: rgba(6, 116, 236, 0.5);
            align-items: center;
            width: 230px;
            top: 62px;
            position: absolute;
            left: -100%;
            margin: 0;
            transition: all 0.5s;
            &--active {
                left: 0;
            }
        }
        &__item {
            padding: 15px 0;
            width: 150px;
            text-align: center;
            background-color: $bg-blue;
        }
        &__link {
            color: white;
        }
        &__item+.menu__item {
            margin-left: 0px;
        }
    }
    .burger {
        display: block; //без Important не работает медия запрос... почему?// Медиа стили ставить после основных в самом конце.
        margin-right: 10px;
    }
    .dropmenu {
        &__lists {
            &--active {
                padding: 10px 10px;
            }
        }
        &__link {
            padding: 10px 0;
        }
    }
    .home-dropmenu,
    .all-dropmenu,
    .wordpress-dropmenu {
        left: 100%;
        top: 0%;
    }
    //!!HEDER-TOP/SUBHEADER
    //PROMO
    .promo-inner {
        padding: 90px 0;
    }
    //!!PROMO
    //TEMPSLIDER
    .slider-wrapper {
        padding: 55px 0 55px 0;
    }
    .card {
        &__img {
            min-width: 0;
        }
    }
    //!!TEMPSLIDER
    //TRADE
    .trade {
        &__inner {
            min-height: 556px;
        }
        &__img {
            width: auto;
            margin-bottom: 15px;
        }
    }
    //!!TRADE
    //FEEDBACK
    .feedback-card {
        .slick-slide {
            display: flex;
            justify-content: center;
        }
    }
    //!!FEEDBACK
    //PRODUCT-FILTER
    .product-one {
        padding: 50px 0;
    }
    .product-filter {
        &__buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            margin-left: 0;
        }
        &__btn {
            &+& {
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }
    //!!PRODUCT-FILTER
    //HOW BLOG PAGE
    .how-blog {
        &__inner {
            justify-content: space-around;
        }
        &__img {
            margin-bottom: 15px;
        }
    }
    //!!HOW BLOG PAGE
}

//ANCHOR 824px
@media (max-width: 824px) {
    .product-page__inner {
        justify-content: space-around;
    }
    .product-card {
        margin-left: -20px;
        &__item {
            flex-basis: calc(50% - 20px);
            margin-left: 20px;
        }
    }
    .product-filter__group-btn+.product-filter__group-btn {
        display: none;
    }
}

//ANCHOR 760px
@media (max-width: 760px) {
    .account {
        top: -200px;
    }
    .header-top {
        &__button {
            display: block;
        }
    }
    //dropmenu
    .dropmail,
    .dropmail-notif {
        min-width: 300px;
        max-width: 300px;
    }
    .dropmail__box {
        padding: 10px 10px;
    }
    .dropmail__descr--small-descr,
    .dropmail-notif__descr--small-descr {
        max-width: 190px;
    }
    .dropmail__pic-link,
    .dropmail-notif__pic-link {
        margin-left: 0;
    }
    //!!dropmenu
    .subpromo-form {
        justify-content: space-between;
        flex-wrap: wrap;
        &__btn {
            min-width: 115px;
            font-size: 14px;
            margin-left: 0;
        }
    }
    //TEMPSLIDER
    .card {
        &__title {
            font-size: 20px;
        }
        &__tags-item {
            padding: 3px 7px;
            font-size: 13px;
        }
        &__buy-btn {
            padding: 6px;
        }
    }
    //!!TEMPSLIDER
    //PRODUCTS
    .products {
        padding: 50px 0;
    }
    //!!PRODUCTS
    //CARD-SLIDER
    .card-slider {
        &__inner {
            .slick-slide {
                display: flex;
            }
        }
    }
    //!!CARD-SLIDER
    //FEEDBACK
    .feedback-card {
        .slick-slide {
            display: flex;
            justify-content: center;
        }
        &__item {
            &:before {
                width: 0;
            }
        }
    }
    //!!FEEDBACK
    //NEWS
    .news {
        padding: 65px 0 38px;
    }
    //!!NEWS
    //PRODUCT-FILTER
    .product-filter {
        &__select {
            &--price {
                margin-right: 0;
            }
        }
        &__btn {
            font-size: 12px;
        }
        &__form {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
        }
        &__select {
            &--price {
                margin-left: 0;
            }
        }
    }
    .title-block__btn--fav {
        border: none;
        padding: 20px 5px;
    }
    .subpromo-form {
        &__dropdown-select {
            &--category {
                padding: 10px 20px 10px 17px;
            }
        }
    }
    //!!PRODUCT-FILTER
    .product-page__aside {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .product-page__inner {
        justify-content: space-around;
        .lnr-cart {
            padding: 0;
        }
    }
    .product-card__item--list .product-card__img {
        height: 308px;
        min-width: 260px;
    }
    .product-page__wrapper {
        &--fav {
            flex-direction: row;
        }
    }
    //LOGIN
    .contacts {
        &__form {
            justify-content: space-around;
            align-items: center;
        }
        &__box {
            padding: 40px 20px 60px;
        }
        &__input,
        &__textarea {
            max-width: 320px;
        }
    }
    //!!LOGIN
}

//ANCHOR 676px
@media (max-width: 676px) {
    //HEDER-TOP/SUBHEADER
    .account {
        top: -200px;
    }
    .header-top {
        &__button {
            margin-left: 0;
        }
        &__icons {
            display: none;
        }
    }
    .dropmenu {
        &__lists {
            columns: 2;
            width: 380px;
            padding: 10px 10px;
            &--active {
                padding: 10px 20px;
                right: -35px;
            }
        }
        &__item {
            text-align: left;
        }
        &__link {
            padding: 10px 0;
        }
    }
    .subheader {
        &__menu {
            width: 0;
        }
    }
    //!!HEDER-TOP/SUBHEADER
    //PROMO
    .promo-inner {
        &__title {
            font-size: 55px;
            margin-bottom: 10px;
        }
        &__subtitle {
            font-size: 50px;
        }
        &__descr {
            font-size: 18px;
            line-height: 30px;
        }
    }
    //!!PROMO
    //SUBPROMO
    .subpromo-form {
        padding: 25px;
        &::after {
            transform: translateY(-52px);
            width: 90%;
            left: 30px;
        }
        &::before {
            width: 95%;
            transform: translateY(-42px);
            left: 15px;
        }
        &__btn {
            min-width: 150px;
        }
        &__input {
            text-overflow: ellipsis;
        }
    }
    .subpromo-inner {
        padding: 0px 0 50px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .subpromo-card {
        &+& {
            margin-left: 0;
        }
    }
    //!!SUBPROMO
    //TEMPSLIDER
    .title-block {
        &__text {
            font-size: 18px;
        }
        &__ctrl {
            display: none;
        }
        &__ctrl-blue {
            display: none;
        }
    }
    .card {
        &__link {
            font-size: 11px;
            padding: 16px 25px;
        }
        &__content {
            padding: 8px 5px 10px 10px;
        }
        &__title {
            font-size: 20px;
        }
        &__tags-item {
            padding: 3px 7px;
            font-size: 13px;
        }
        &__buy-btn {
            padding: 4px;
            font-size: 12px;
        }
    }
    //!!TEMPSLIDER
    //PRODUCTS
    .product-box {
        &__btn {
            padding: 6px 13px;
            font-size: 12px;
        }
    }
    .product-card {
        margin-left: 0;
        &__item {
            flex-basis: 100%;
            margin-left: 0;
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }
    .product-page__wrapper--fav .product-card__item {
        margin-right: 0;
    }
    //!!PRODUCTS
    //SCORE
    .score {
        padding: 50px 0 50px 0;
        min-height: 0;
        &__inner {
            justify-content: space-around;
            flex-wrap: wrap;
            font-size: 15px;
        }
        &__item {
            font-size: 30px;
            margin: 15px 15px;
            &+& {
                margin-right: 15px;
            }
        }
        &__num {
            font-size: 20px;
            margin-top: 15px;
        }
    }
    //!!SCORE
    //BENEFITS
    .benefits {
        padding: 65px 0;
    }
    //!!BENEFITS
    //TRADE
    .title-box {
        &__title {
            font-size: 25px;
        }
        &__subtitle {
            font-size: 14px;
        }
    }
    //!!TRADE
    //FEEDBACK
    .feedback-card {
        &__item {
            .slick-slide {
                display: flex;
                justify-content: center;
            }
            &:before {
                width: 0;
            }
        }
    }
    //!!FEEDBACK
    //QUICK-INFO
    .quick-info {
        &__inner {
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
        &__title {
            font-size: 18px;
        }
        &__wrap {
            border: none;
        }
        &__box {
            margin: 0 auto;
        }
    }
    //!!QUICK-INFO
    //SINGLE_PRODUCT page
    .tab-card {
        &__box {
            padding: 10px 0 10px;
        }
        &__box-top,
        &__box-social {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            padding: 0 20px 20px;
            .btn {
                margin-top: 10px;
            }
            .btn+.btn {
                margin-left: 0;
            }
        }
        &__box-social {
            justify-content: center;
            padding-top: 0;
            .btn {
                margin-bottom: 20px;
            }
            .social__list {
                margin-left: 0;
            }
        }
    }
    .tab-item {
        margin-bottom: 30px;
    }
    .tabs .tab {
        font-size: 14px;
    }
    //!!SINGLE_PRODUCT page
    //BLOG page
    .tab-card__title {
        font-size: 20px;
    }
    .tab-card__line {
        flex-wrap: wrap;
        justify-content: space-around;
        .tab-card__name,
        .tab-card__date,
        .tab-card__btn-comment,
        .tab-card__btn-view {
            margin: 10px;
        }
    }
    //!!BLOG page
    //HOW BLOG PAGE
    .how-blog {
        &__inner {
            padding: 50px 0;
        }
        &__img {
            height: 250px;
        }
    }
    //!!HOW BLOG PAGE
    //LOGIN PAGE
    .login {
        &__box,
        &__title-box {
            padding: 30px 20px 25px;
        }
        &__footer {
            line-height: 30px;
        }
        &__lost {
            flex-basis: 47%;
            border-right: 1px solid $bg-grey;
        }
        &__regis {
            flex-basis: 50%;
        }
    }
    //!!LOGIN PAGE
}

//ANCHOR 480px
@media (max-width: 480px) {
    .header-top {
        &__button {
            position: absolute;
            right: 25px;
        }
    }
    //HEDER-TOP/SUBHEADER
    .account {
        top: -200px;
    }
    .form {
        &__input {
            text-overflow: ellipsis;
            &--search {
                &::placeholder {
                    font-size: 12px;
                }
            }
        }
    }
    .dropmenu {
        .lnr-heart,
        .lnr-cart {
            padding: 0;
        }
        &__lists {
            right: 400%;
            padding: 10px 10px;
            width: 320px;
            font-size: 12px;
            top: 305%;
            &--active {
                right: -30px;
            }
        }
        &__item {
            text-align: left;
        }
        &__link {
            padding: 10px 0;
        }
    }
    //!!HEDER-TOP/SUBHEADER
    //PROMO
    .promo-inner {
        &__title {
            font-size: 50px;
        }
        &__subtitle {
            font-size: 40px;
        }
        &__descr {
            font-size: 17px;
            line-height: 30px;
        }
        &__btn {
            padding: 14px 23px;
        }
    }
    //!!PROMO
    //SUBPROMO
    .subpromo-form {
        padding: 25px;
        max-height: 150px;
        &::after {
            transform: translateY(-48px);
            width: 84%;
            left: 30px;
        }
        &::before {
            width: 92%;
            transform: translateY(-37px);
            left: 15px;
        }
        &__btn {
            min-width: 0px;
            font-size: 14px;
            margin-left: 0;
        }
        &__input {
            text-overflow: ellipsis;
        }
        &__dropdown-select {
            padding: 15px 05px 15px 10px;
            font-size: 13px;
        }
        &__btn {
            min-width: 0;
            max-width: 150px;
        }
    }
    //!!SUBPROMO
    //TEMPSLIDER
    .card {
        flex-direction: column;
        &__picture {
            width: auto;
        }
    }
    .slick-slide {
        img {
            min-width: 0;
        }
    }
    .title-block {
        &__btn {
            margin-right: 0;
            font-size: 12px;
            &:after {
                content: "";
                width: 0;
            }
        }
    }
    //!!TEMPSLIDER
    //FOOTER-TOP
    .footer-top {
        padding: 35px 0 35px;
        &__columns {
            flex-direction: column;
        }
    }
    .social__item+.social__item {
        margin-left: 7px;
    }
    .column+.column {
        margin-left: 0px;
    }
    //TRADE
    .trade {
        &__inner {
            display: block;
        }
    }
    .trade-box {
        padding: 20px 0;
    }
    .title-box {
        &__title {
            font-size: 20px;
        }
        &__subtitle {
            font-size: 14px;
        }
    }
    //!!TRADE
    //BLOG PAGE
    .tab-card {
        &__title {
            padding: 0px 15px 10px 0;
        }
        &__text {
            padding: 15px 0;
        }
        &__content {
            padding: 0px 20px;
        }
    }
    //!!BLOG PAGE
    //HOW BLOG PAGE
    .how-blog {
        &__inner {
            padding: 50px 0;
        }
        &__img {
            height: 180px;
        }
    }
    //!!HOW BLOG PAGE
    //LOGIN
    .login {
        padding: 40px 0;
    }
    //!!LOGIN
}

//ANCHOR 380px
@media (max-width: 387px) {
    //HEDER-TOP/SUBHEADER
    .header-top {
        &__button {
            margin: 0;
            padding: 0;
            position: absolute;
            right: 20px;
        }
    }
    .dropmenu {
        &__lists {
            right: 555%;
            top: 305%;
            width: 300px;
            padding: 10px;
            &--active {
                right: 25px;
            }
        }
    }
    //!!HEDER-TOP/SUBHEADER
    //PROMO
    .promo-inner {
        &__title {
            font-size: 45px;
        }
        &__subtitle {
            font-size: 35px;
        }
        &__descr {
            font-size: 15px;
        }
        &__btn {
            padding: 10px 10px;
            font-size: 13px;
        }
    }
    //!!PROMO
    //TEMPSLIDER
    .title-block {
        height: 65px;
        &__text {
            font-size: 19px;
        }
    }
    //!!TEMPSLIDER
    .product-card__item {
        /* margin: 0; */
        margin-bottom: 15px;
    }
    .tabs .tab {
        font-size: 12px;
    }
    .news-inner {
        .product-card__item+.product-card__item {
            margin-left: 0;
        }
    }
    .aside-author__btn+.aside-author__btn {
        margin-left: 0;
        margin-top: 10px;
    }
}

//ANCHOR 375 x 667
@media (max-width: 375px) {
    .pagination__link {
        padding: 9px 14px;
    }
    .product-filter__group-btn {
        display: flex;
        width: 30px;
        height: 20px;
        &+& {
            margin-left: 0;
        }
    }
}

//ANCHOR 360 x 640
@media (max-width: 360px) {
    .product-card__content-footer {
        padding: 10px;
    }
}