@import "fonts.scss";
@import "variables.scss";
@import "global.scss";

.header {
    &__img {
        margin-left: 7px;
    }
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    padding-top: 5px;
}

.header-top {
    background-color: $bg-grey;
    transition: all 0.8;
    position: relative;
    z-index: 11;

    &__btn {
        margin-left: auto;
        margin-right: 49px;
        padding: 9px 18px;
        font-size: 14px;
    }


    &__link {
        font-size: 21px;
        color: $icon-color;
        position: relative;
        margin-left: auto;
        margin-top: 1px;

        &--mail {
            &:hover+.header-top__dropmail {
                top: 100px;
                opacity: 1;
                display: flex;
            }

            margin-right: 10px;
        }

        .num {
            position: absolute;
            bottom: 18px;
            left: 14px;
            font-size: 14px;
            font-weight: 500;
            border-radius: 100%;
            color: rgb(255, 255, 255);
            text-align: center;
            min-width: 22px;
            height: 22px;
            border-radius: 11px;
            padding: 3px 6px;

            &__bell {
                background-color: rgb(255, 106, 108);
            }

            &__mail {
                background-color: rgb(98, 208, 59);
            }

            &__cart {
                background-color: rgb(6, 116, 236);
            }
        }

        &+& {
            margin-left: 24px;
        }
    }
}

.account {
    display: flex;
    align-items: center;
    margin-left: 47px;
    transition: all 0.8;

    &:hover .dropmenu__list {
        top: 101%;
        opacity: 1;
    }

    &__text {
        margin-left: 21px;
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
    }

    &__img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 100%;
    }

    &__link {
        color: $text-color--dark;
        display: block;

        &:hover {
            color: $yellow;
        }
    }

    &__price {
        color: $bg-blue;
        letter-spacing: -1px;
    }
}

.dropmenu {
    &__list {
        right: 20%;
        position: absolute;
        background-color: white;
        max-width: 270px;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 20px 20px 30px 20px;
        font-family: Quicksand;
        font-weight: 400;
        font-size: 15px;
        border-top: 1px solid $bg-blue;
        transition: all 0.5s;
        z-index: 10;
        top: -1500px;
        opacity: 0;

        &:before {
            position: absolute;
            content: "";
            top: -10px;
            right: 25px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent $bg-blue transparent;
        }
    }

    &__link {
        display: block;
        padding: 15px 0;
        transition: all 0.3s;

        &--subheader-link {
            padding: 15px 10px;
        }

        &:hover {
            background-color: $bg-blue;
            color: white;
        }

        .lnr {
            margin-left: 9px;
            margin-right: 16px;
        }
    }
}

.dropmail {
    position: absolute;
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    display: none;
    flex-direction: column;
    border-top: 1px solid $bg-blue;
    z-index: 5;
    display: flex;
    right: 32%;
    transition: all 0.5s;
    top: -1000px;
    opacity: 0;

    &:before {
        position: absolute;
        content: "";
        top: -10px;
        right: 25px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent $bg-blue transparent;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $bg-grey;
        padding: 20px 25px;
    }

    &__all-link {
        color: $bg-blue;

        &:hover,
        &:focus {
            color: $green;
        }

        &:active {
            color: $bg-blue;
        }
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 20px 25px;
        border-bottom: 1px solid $bg-grey;

        &:last-child {
            border: none;
        }
    }

    &__descr {
        position: relative;
        color: rgb(85, 85, 85);
        font-size: 15px;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;

        .lnr-envelope {
            margin-left: 13px;

            &--active {
                color: $bg-blue;
            }

            &--none {
                display: none;
            }
        }
    }

    &__name-link {
        font-size: 16px;
        font-weight: 500;

        &:hover,
        &:focus {
            color: $green;
        }

        &:active {
            color: $bg-blue;
        }
    }

    &__ava {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 20px;
        margin-right: 15px;
    }

    &__date {
        position: absolute;
        right: 0;

        &--now {
            color: $bg-blue;
        }

        &--old {
            color: $text-color--dark;
        }

    }

    &__text {
        display: block;
        margin: 0;
        margin-top: 10px;
        white-space: nowrap;

        &:hover,
        &:focus {
            color: $yellow;
        }

        &:active {
            color: $bg-blue;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                                  subheader                                 */
/* -------------------------------------------------------------------------- */

.subheader {
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 10;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 80px;
    }

    &__menu {
        max-width: 530px;
        width: 100%;
    }
}

//subheader-dropmenu
.subheader-dropmenu__list {
    left: 33%;
    opacity: 1;
}

.wordpress-dropmenu {
    left: 30%;
    position: absolute;
    background-color: white;
    max-width: 270px;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 20px 20px 30px 20px;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 15px;
    border-top: 1px solid $bg-blue;
    transition: all 0.5s;
    display: none;
}

.menu {
    &__list {
        max-width: 530px;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-between;
        color: $text-color--dark;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        word-spacing: 1px;
        z-index: 10;

    }

    &__item {
        &--wordpress {
            &:hover .wordpress-dropmenu {
                display: block;
            }
        }

    }

    &__item+.menu__item {
        margin-left: 10px;
    }

    &__link {
        transition: all 0.3s;
        color: rgb(51, 51, 51);
        padding: 25px 0;


    }
}

.menu__item {
    list-style-type: none;

    &+.menu__item {
        margin-left: 30px;
    }
}

.form {
    max-width: 360px;
    width: 100%;
    position: relative;

    &--search {
        max-width: 361px;
    }

    &__input {
        width: 100%;
        height: 46px;
        border-radius: 23px;
        padding: 0 75px 0 25px;
        border: 1px solid rgb(217, 223, 229);

        &:focus {
            border: 1px solid $bg-blue;
        }
    }

    &__btn {
        position: absolute;
        top: 0;
        right: 0;
        border: 1px solid $bg-blue;
        background-color: $bg-blue;
        border-radius: 22px;
        cursor: pointer;
        transition: all 0.3s;
        padding: 13px 24px 14px;

        &--search {
            font-size: 0;
            padding: 14px 22px;
            width: 70px;
            height: 46px;
        }

        &:hover {
            border: 1px solid $bg-blue;

            .pic {
                fill: rgb(6, 116, 236);
            }
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                                Promo SECTION                               */
/* -------------------------------------------------------------------------- */

.promo {
    min-width: 100%;
    background-color: rgba(68, 28, 124, 0.8);
    background-image: linear-gradient(to left, rgb(0, 48, 222) 0%, rgb(46, 90, 251) 100%);
}

.promo-inner {
    min-height: 726px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 176px;
    text-align: center;
    color: $bg-grey;

    &__title {
        font-size: 60px;

        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }

    &__subtitle {
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 33px;
    }

    &__descr {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
        word-spacing: 1px;
    }

    &__links {
        margin-top: 88px;
    }

    &__btn {
        margin-top: 10px;
        border: 1px solid white;
        background-color: transparent;
        border-radius: 28px;
        font-size: 16px;
        padding: 17px 31px;

        &+.promo-inner__btn {
            margin-left: 24px;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                              SUBPROMO SECTION                              */
/* -------------------------------------------------------------------------- */

.section {
    max-height: 710px;
    min-width: 100%;
}

.subpromo-form {
    min-width: 100%;
    max-height: 135px;
    padding: 40px;
    display: flex;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    transform: translateY(calc(-135px/2));

    &__input-label {
        width: 100%;
    }

    &::after,
    &::before {
        content: "";
        position: absolute;
        min-height: 30px;
        background-color: rgb(255, 255, 255);
        opacity: 0.5;
        border-radius: 6px;
    }

    &::after {
        transform: translateY(-66px);
        max-width: 1070px;
        width: 100%;
        left: 30px;
    }

    &::before {
        max-width: 1100px;
        width: 100%;
        transform: translateY(-53px);
        left: 15px;
    }

    &__dropdown-select {
        display: inline-block;
        padding: 18px 46px 15px 17px;
        color: $card-text;
        font-size: 16px;

        border: 1px solid $bg-grey;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        cursor: pointer;
    }

    &__input {
        min-height: 55px;
        width: 100%;
        border: 1px solid $bg-grey;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding: 17px 26px;

        &::placeholder {
            color: $card-text;
            font-size: 16px;

        }
    }

    &__btn {
        min-width: 217px;
        border-radius: 4px;
        margin-left: 30px;
        color: rgb(255, 255, 255);
        font-size: 16px;

        white-space: nowrap;
    }
}

.subpromo-inner {
    display: flex;
    padding: 50px 0 120px;
}

.subpromo-card+.subpromo-card {
    margin-left: 27px;
}

.subpromo-card {
    min-width: 361px;
    max-height: 403px;
    padding: 196px 35px 49px 31px;
    position: relative;
    text-align: center;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::before {
        content: "";
        position: absolute;
        background-image: url(../img/subpromo/book.png);
        top: 41px;
    }

    &--research {
        &::before {
            background-image: url(../img/subpromo/book.png);
            width: 112px;
            height: 113px;
        }
    }

    &--responsive {
        &::before {
            background-image: url(../img/subpromo/laptop.png);
            width: 113px;
            height: 120px;
        }
    }

    &--sell {
        &::before {
            background-image: url(../img/subpromo/mobile.png);
            width: 112px;
            height: 112px;
        }
    }

    &:hover {
        box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
    }

    /*  &__img {
        width: 120px;
        height: 120px;
        object-fit: fill;
        margin: 0 auto;
    } */

    &__title {
        color: rgb(0, 0, 0);
        font-weight: 500;
        font-size: 25px;
        padding: 29px 0 21px;
    }

    &__text {
        margin: 0;
        color: $card-text;
        font-size: 16px;

        line-height: 30px;
    }
}

/* -------------------------------------------------------------------------- */
/*                               Template_slider                              */
/* -------------------------------------------------------------------------- */
.template-slider {
    background-color: $bg-grey;
    width: 100%;
}

.slider__item {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
    /* min-height: 1000px; */
}

.slider-wrapper {
    margin: 0 auto;
    min-height: 850px;
    padding: 156px 0 87px 0;
    position: relative;
}

.title-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 101px;
    padding: 0px 26px 0px 28px;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    margin-bottom: 52px;

    &__text {
        color: rgb(0, 0, 0);
        font-size: 30px;
    }

    &__ctrl,
    &__ctrl-blue {
        width: 110px;
        height: 45px;
        border-radius: 23px;
        background-color: rgb(115, 71, 193);
        margin-left: auto;
    }

    &__ctrl-blue {
        background-color: rgb(6, 116, 236);
    }


}

/*Slider Arrows*/
.slick-prev,
.slick-next {
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
    bottom: 37px;
}

.slick-prev {
    right: 94px;
}

.slick-next {
    right: 40px;
}

.card {
    max-width: 1140px;
    width: 100%;
    min-height: 450px;
    background-color: rgb(255, 255, 255);
    display: flex;

    &__picture {
        display: flex;
        width: 574px;
        overflow: hidden;
        position: relative;

        &:hover .card__buttons {
            left: 0;
            top: 0;
        }
    }

    &__buttons {
        display: flex;
        left: 100%;
        top: 100%;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all 0.3s;
        background-color: rgb(0, 150, 136);
        background-image: linear-gradient(to left, rgb(6, 116, 236) 0%, rgb(115, 71, 193) 100%);
        opacity: 0.9;
        z-index: 1;
    }

    &__link {
        &+.card__link {
            margin-left: 11px;
        }
    }

    &__img {
        position: relative;
        min-width: 574px;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
    }

    &__content {
        max-width: 585px;
        padding: 16px 30px 20px 43px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
    }

    &__title {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 500;
        padding: 27px 3px 0;
    }

    &__text {
        color: $card-text;
        font-size: 16px;

        line-height: 30px;
        margin: 0;
        padding: 10px 0;
    }

    &__tags {
        padding: 25px 8px 25px;
    }

    &__tags-item {
        padding: 7px 15px;
        color: $icon-color;
        font-size: 15px;

        border-radius: 14px;
        background-color: $bg-grey;
    }

    &__content-footer {
        border-top: 1px solid $bg-grey;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-top: 20px;
        margin: 0;
    }

    &__like {
        margin-left: 19px;
    }

    &__cart {
        margin-left: 45px;
    }

    &__buy-btn {
        padding: 9px 19px;
        background-color: $bg-blue;
        border-radius: 16px;
        color: white;

    }
}


.user {
    display: flex;
    align-items: center;
    padding: 15px 0;
    font-size: 15px;
    line-height: 30px;

    &__avatar {
        width: 35px;
        height: 30px;
        border-radius: 100%;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 9px;
    }

    &__name {
        color: rgb(0, 0, 0);
        margin-right: 21px;

        &:hover,
        &:focus {
            color: $green;
        }

        &:active {
            color: $bg-blue;
        }
    }

    &__icon {
        width: 16px;
        height: 16px;
        margin-right: 9px;

        &--wordpress {
            width: 15px;
            height: 16px;
        }

        &--psd {
            width: 13px;
            height: 17px;
        }

        &--html {
            width: 15px;
            height: 15px;
            color: rgb(115, 71, 193);
        }
    }

    &__tech {
        padding-left: 30px;
        position: relative;

        &:hover,
        &:focus {
            color: $yellow;
        }

        &:active {
            color: $bg-blue;
        }

        &--html {
            &:before {
                position: absolute;
                content: '';
                background-image: url(../img/icons/html5.svg);
                width: 16px;
                height: 16px;
                top: 0;
                left: 0;
            }
        }

        &--wordpress {

            &:before {
                position: absolute;
                content: '';
                background-image: url(../img/icons/wordpress.svg);
                width: 16px;
                height: 16px;
                top: 0;
                left: 0;
            }
        }

        &--psd {

            &:before {
                position: absolute;
                content: '';
                background-image: url(../img/icons/psd.svg);
                width: 13px;
                height: 16px;
                top: 0;
                left: 0;
            }
        }

        &--html {

            &:before {
                position: absolute;
                content: '';
                background-image: url(../img/icons/html5.svg);
                width: 15px;
                height: 15px;
                top: 0;
                left: 0;
            }
        }

        &--large {
            &:before {
                position: absolute;
                content: '';
                background-image: url(../img/icons/wordpress.svg);
                width: 16px;
                height: 16px;
                top: 9px;
                left: 0;
            }
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                               Product section                              */
/* -------------------------------------------------------------------------- */
.products {
    padding: 107px 0;
    background-color: rgb(246, 247, 251);
}

.title-block {
    position: relative;

    &--tab {
        line-height: 28px;
        position: relative;
        height: 100px;
        margin-bottom: 31px;
    }

    &__btn {
        position: relative;
        margin-right: 30px;
        padding: 20px 0;
        border: none;
        color: card-text;
        font-size: 16px;
        background-color: white;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            background-image: url(../img/icons/verticaldots.svg);
            left: 95px;
            width: 10px;
            height: 16px;
        }
    }
}

.mixitup-control-active {
    border: none;
    background-color: transparent;
}

// dropDown Menu
.dropdown {
    display: none;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    margin: 0;
    padding: 27px 53px 26px 28px;
    min-width: 183px;
    box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    right: 26px;
    color: $icon-color;
    font-size: 15px;

    line-height: 28px;
    transition: all 0.3s;
    top: 100px;
    z-index: 5;

    &:after {
        content: '';
        position: absolute;
        top: -16px;
        right: 0;
        width: 18px;
        height: 16px;
        border-style: solid;
        border-width: .5em .5em .5em .5em;
        border-color: transparent transparent white transparent;
        box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);

    }

    &__item {
        list-style-type: none;
    }

    &__link {
        background-color: transparent;
        border: none;
        cursor: pointer;
        background-color: rgb(255, 255, 255);

        &:hover {
            color: $bg-blue;
        }
    }
}

.dropdown--active {
    display: flex;
}

.product-tab {
    min-height: 92px;
    background-color: #fff;
    padding: 30px 85px 15px 30px;
    margin-bottom: 47px;
}


.product-box {
    &__btn {
        padding: 8px 18px;
        border-radius: 20px;
        border: 1px solid $bg-grey;
        background-color: $bg-grey;
        color: $icon-color;
        font-size: 15px;

        transition: all 0.3s;
        margin-bottom: 15px;

        &:hover {
            background-color: $bg-blue;
            color: $bg-grey;
        }
    }

    &__btn+.product-box__btn {
        margin-left: 3px;
    }
}

.product__inner {
    display: flex;
    flex-direction: column;
}

.product__inner-button {
    margin: 0 auto;
    margin-top: 30px;
    padding: 18px 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    background-color: rgb(6, 116, 236);
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-items: stretch;
        margin-bottom: 30px;
        border-radius: 4px;
        overflow: hidden;
        max-width: 361px;
        min-height: 100%;
    }

    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 361px;
        height: 230px;
        position: relative;

        &:hover .product-card__buttons {
            left: 0;
        }
    }

    &__img {
        position: relative;
        width: 361px;
        height: 230px;
        object-fit: cover;
    }

    &__buttons {
        display: flex;
        left: 100%;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all 0.3s;
        background-color: rgb(0, 150, 136);
        background-image: linear-gradient(to left, rgb(6, 116, 236) 0%, rgb(115, 71, 193) 100%);
        opacity: 0.9;
        z-index: 1;
    }

    &__link {
        &+.product-card__link {
            margin-left: 11px;
        }
    }

    &__content {
        padding-top: 36px;
        box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: stretch;
        flex-direction: column;
        height: 100%;

        &--news {
            padding-top: 22px;
        }
    }

    &__content-main {
        padding: 0 21px 0 30px;

    }

    &__title {
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 500;
        line-height: 7.2px;
        padding-bottom: 7px;

        &--news-card {
            font-size: 22px;
            line-height: 28px;
            padding-bottom: 22px;
        }
    }

    &__user {
        padding: 15px 0 23px 0;
        display: flex;
        align-items: center;
    }

    &__text {
        margin: 0;
        color: $card-text;
        font-size: 16px;

        line-height: 30px;
        padding-bottom: 34px;

        &--news-card {
            padding-bottom: 22px;
        }
    }

    &__content-footer {
        padding: 10px 30px;
        border-top: 1px solid rgb(236, 236, 236);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
    }

    &__btn {
        padding: 8px 17px;
        color: white;
        font-size: 15px;
        font-weight: 500;
        background-color: rgba(6, 116, 236, 0.1);
        margin-right: 13px;
        cursor: default;
        border-radius: 25px;
        color: $bg-blue;
    }

    &__like {
        position: relative;

        &:hover,
        &:focus {
            color: red;
        }

        &:active {
            color: black;
        }

        &::after {
            content: "90";
            position: absolute;
        }
    }

    &__cart {
        margin-right: 5px;
        margin-left: auto;

        &:hover,
        &:focus {
            color: $green;
        }

        &:active {
            color: black;
        }

        &::after {
            content: "45";
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                               Card-slider                                  */
/* -------------------------------------------------------------------------- */
.card-slider {
    background-color: $bg-grey;
}

.card-slider__inner {
    .slick-slide {
        margin: 0 10px;
    }
}

/* -------------------------------------------------------------------------- */
/*                                score section                               */
/* -------------------------------------------------------------------------- */
.score {
    min-height: 350px;
    padding: 96px 0 10px 0;
    background-color: rgba(13, 15, 19, 0.8);

    &__inner {
        display: flex;
        justify-content: space-between;

    }

    &__item+.score__item {
        margin-right: -17px;
    }

    &__item {
        text-align: center;
        font-size: 48px;

        &--case {
            color: $yellow;
        }

        &--cloud {
            color: rgb(88, 201, 233);
        }

        &--smile {
            color: $green;
        }

        &--members {
            color: rgb(255, 106, 109);
        }
    }

    &__num {
        margin-top: 32px;
        font-size: 36px;
        padding-bottom: 13px;
    }

    &__descr {
        color: rgb(255, 255, 255);
        font-size: 18px;
    }
}

/* -------------------------------------------------------------------------- */
/*                                  benefits                                  */
/* -------------------------------------------------------------------------- */
.benefits {
    padding: 117px 0 83px 0;
}

.title {
    color: $text-color--dark;
    font-size: 36px;

    text-align: center;

    &__highlight {
        color: $bg-blue;
    }
}

.subtitle {
    margin: 0 auto;
    max-width: 680px;
    padding: 19px 0px 60px 6px;

    line-height: 30px;
    font-size: 16px;
    color: $card-text;
    text-align: center;
}

.card-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    counter-reset: number 0;

    &__item+.card-grid__item {
        margin-right: -10px;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 361px;
        min-height: 373px;
        width: 100%;
        text-align: center;
        padding: 50px 31px 59px 31px;
        margin-bottom: 30px;
        box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        counter-increment: number;


        &:before {
            content: "0"counter(number);
            position: absolute;
            opacity: 0.2;
            color: rgb(92, 135, 248);
            font-size: 48px;
            font-weight: 300;
            top: 11px;
            left: 13px;

        }

        span {
            font-size: 60px;
            padding-bottom: 38px;
        }

        &--payment {
            span {
                color: $bg-blue;
            }
        }

        &--quality {
            span {
                color: rgb(127, 78, 194);
            }
        }

        &--secure {
            span {
                color: $green;
            }
        }

        &--organized {
            span {
                color: $yellow;
            }
        }

        &--update {
            span {
                color: rgb(88, 201, 233);
            }
        }

        &--support {
            span {
                color: rgb(255, 106, 109);
            }
        }

    }

    &__title {
        font-size: 24px;
        padding-bottom: 20px;
    }

    &__text {
        margin: 0;
        color: $card-text;
        font-size: 16px;
        line-height: 30px;
    }
}

/* -------------------------------------------------------------------------- */
/*                                trade section                               */
/* -------------------------------------------------------------------------- */
.trade {
    &__inner {
        display: flex;
        width: 100%;
        min-height: 561px;
        color: rgb(255, 255, 255);

    }


    &__link {
        max-width: 190px;
        width: 100%;
        padding: 17px 17px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 28px;
        background-color: rgb(255, 255, 255);
        color: $bg-blue;
        font-size: 16px;
        margin: 0 auto;
        margin-top: 25px;

        &:hover {
            background-color: transparent;
            color: rgb(255, 255, 255);
        }
    }


}

.trade-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex: 1 1 50%;
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 586px;
        width: 100%;
        min-height: 363px;
    }

    &--sell {
        background-image: url(../img/trade/1.jpg);
    }

    &--buy {
        background-image: url(../img/trade/2.jpg);
    }
}

/* -------------------------------------------------------------------------- */
/*                               client Feedback                              */
/* -------------------------------------------------------------------------- */
.feedback {
    padding: 111px 0 120px 0;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);

    &__btn {
        max-width: 186px;
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
        border-radius: 25px;
        margin-top: 54px;
        padding: 17px 0;
    }
}

.feedback-card {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;


    .slick-slide {
        margin-left: 5px;
    }

    .slick-next,
    .slick-prev {
        position: absolute;
        box-shadow: 0 4px 15px rgba(67, 67, 67, 0.15);
        background-color: rgb(255, 255, 255);
        width: 72px;
        height: 72px;
        border-radius: 100%;
        font-size: 0;
        top: 35%;
        z-index: 2;
        right: -35px;
        transition: all 0.3s;

        &:before {
            content: url(../img/feedback/right.svg);
        }

        &:hover {
            background-color: $bg-blue;
        }

    }

    .slick-prev {
        left: -35px;

        &:before {
            content: url(../img/feedback/left.svg);
        }

    }

    &__item+.feedback-card__item {
        margin-right: -11px;
    }

    &__item {
        position: relative;
        max-width: 555px;
        width: 100%;
        padding: 50px 40px;
        box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
        background-color: rgb(255, 255, 255);
        border-left: 1px solid $bg-blue;

        font-size: 16px;
        color: $card-text;


        &:before {
            content: "";
            position: absolute;
            background-image: url(../img/feedback/bubble.svg);
            top: 45px;
            right: 34px;
            width: 67px;
            height: 61px;
        }
    }
}

.account-feedback {
    display: flex;

    &__img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        margin-right: 19px;
    }

    &__account {
        font-size: 20px;
        word-spacing: 19px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__name {
        padding-bottom: 14px;
        color: rgb(0, 0, 0);
        font-size: 20px;
    }

    &__descr {
        padding-top: 16px;
        line-height: 30px;
    }
}

/* -------------------------------------------------------------------------- */
/*                                NEWS section                                */
/* -------------------------------------------------------------------------- */
.news {
    padding: 111px 0 38px 0;
    background-color: $bg-grey;
}

.news-inner {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

    &__item+.news-inner__item {
        margin-right: -5px;
    }

    &__time {
        position: relative;
        color: $icon-color;
        font-size: 15px;

        padding: 13px 47px 13px 29px;
        border-right: 1px solid $bg-grey;

        &:before {
            content: "";
            position: absolute;
            background-image: url(../img/news/clock.svg);
            width: 16px;
            height: 15px;
            top: 13px;
            left: 0;
        }
    }

    &__comment {
        position: relative;
        padding: 0 15px 0 15px;
        font-size: 15px;
        margin-right: auto;
        margin-left: 10px;

        &:before {
            content: "45";
            position: absolute;
            top: 0;
            right: -8px;
        }
    }

    &__visit {
        margin-right: 25px;
        position: relative;
        padding-right: 10px;
        font-size: 15px;

        &:before {
            content: "345";
            position: absolute;
            top: 0;
            right: -21px;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                             quick-info section                             */
/* -------------------------------------------------------------------------- */
.quick-info {
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrap {
        min-height: 297px;
        flex: 1 1 50%;

        &--guarantee {
            border-right: 1px solid $bg-grey;
        }
    }

    &__inner {
        display: flex;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 360px;
        min-height: 297px;
        width: 100%;
        justify-content: center;
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 24px;

        margin: 10px 167px 0 96px;
    }

    &__img {
        margin-bottom: 25px;
    }

    &__highlight {
        color: $bg-blue;

        &--support {
            color: rgb(115, 71, 193);
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                                JOIN section                                */
/* -------------------------------------------------------------------------- */
.join {
    padding: 96px 0 110px 0;
    min-height: 400px;
    max-width: 100%;
    background-color: rgba(21, 26, 32, 0.9);
    background-image: linear-gradient(to left, rgb(13, 62, 242) 0%, rgb(114, 33, 160) 100%);
    margin: 0 auto;

    text-align: center;
    position: relative;

    &__link {
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        margin-bottom: 90px;
        left: 45%;
        padding: 18px 41px;
        font-size: 16px;
        border: 1px solid transparent;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 28px;
        background-color: rgb(255, 255, 255);
        color: $bg-blue;
        border: none;

        &:hover {
            background-color: transparent;
            color: rgb(255, 255, 255);
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                                 footer-top                                 */
/* -------------------------------------------------------------------------- */
.footer-top {
    min-height: 525px;
    background-color: rgb(38, 43, 48);
    padding: 115px 0 90px;

    font-size: 15px;
    color: rgb(171, 171, 171);

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        color: rgb(255, 255, 255);
        font-size: 18px;
        line-height: 42px;
        letter-spacing: 0.9px;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin-top: 15px;
    }

    &__link {
        color: rgb(171, 171, 171);
        font-size: 15px;
        line-height: 32px;

        &:hover {
            color: $green;
        }
    }
}

.addres {
    max-width: 262px;
    width: 100%;
    margin-right: 18px;

    &__img {
        transform: translate(0, -6px);
        margin-left: 1px;
    }

    &__text {
        line-height: 29px;
        margin-top: 17px;
        padding: 0 0 8px 0;
    }

    &__phone,
    .addres__email,
    .addres__location {
        color: rgb(171, 171, 171);
        display: block;
        padding-left: 30px;
        margin-bottom: 17px;
        position: relative;

        &:hover {
            color: $yellow;
        }

        &:before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
        }
    }

    &__phone {
        &:before {
            background-image: url(../img/footer/phone.svg);
        }
    }

    &__email {
        &:before {
            background-image: url(../img/footer/mail.svg);
        }
    }

    &__location {
        line-height: 26px;
        margin-top: 15px;

        &:before {
            background-image: url(../img/footer/map.svg);
            bottom: 35%;
        }
    }
}

.about {
    max-width: 130px;
    width: 100%;
}

.column+.column {
    margin-left: 55px;
}

.social {
    max-width: 360px;
    widows: 100%;
    margin-left: -4px;

    &__item+.social__item {
        margin-left: 14px;
    }

    &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 48px;
        width: 42px;
        height: 42px;
        border-radius: 100%;
        background: red;
        font-size: 0;

        &:hover {
            box-shadow: 0px 0px 21px 1px #fff;
        }

        &:before {
            position: absolute;
            content: "";

        }

        &--facebook {
            background-color: rgb(57, 87, 153);

            &:before {
                background-image: url(../img/footer/social/facebook.svg);
                width: 9px;
                height: 16px;
            }
        }

        &--twitter {
            background-color: rgb(25, 178, 245);

            &:before {
                background-image: url(../img/footer/social/twitter.svg);
                width: 15px;
                height: 13px;
            }
        }

        &--google {
            background-color: rgb(240, 91, 68);

            &:before {
                background-image: url(../img/footer/social/google.svg);
                width: 14px;
                height: 15px;
            }
        }

        &--pinterest {
            background-color: rgb(156, 12, 28);

            &:before {
                background-image: url(../img/footer/social/pinterest.svg);
                width: 15px;
                height: 13px;
            }
        }

        &--linkid {
            background-color: rgb(13, 166, 190);

            &:before {
                background-image: url(../img/footer/social/link.svg);
                width: 13px;
                height: 14px;
            }
        }

        &--dribbble {
            background-color: rgb(234, 76, 137);

            &:before {
                background-image: url(../img/footer/social/dribbble.svg);
                width: 15px;
                height: 16px;
            }
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                               //footer-bottom                              */
/* -------------------------------------------------------------------------- */
.footer-bottom {
    min-height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(25, 32, 39);
    text-align: center;
    padding: 32px 0 47px 0;
    color: rgb(153, 153, 153);
    font-size: 15px;

    word-spacing: 1px;

    &__link {
        color: rgb(255, 255, 255);

        &:hover {
            color: $yellow;
        }
    }
}