@import "fonts.scss";
@import "variables.scss";
@import "global.scss";

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.header-logo {
    margin-left: 10px;
}

.header-top {
    background-color: $bg-grey;

    &__btn {
        margin-left: auto;
        margin-right: 50px;
        padding: 10px 15px;
        font-size: 14px;
        @include f400;
    }
}

.header-top__link {
    font-size: 21px;
    @include f400;
    color: $icon-color;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        padding: 4px 7px;
        border-radius: 50%;
        color: rgb(255, 255, 255);
        font-size: 14px;
        @include f500;
        bottom: 18px;
        left: 14px;
    }

    &+.header-top__link {
        margin-left: 25px;
    }

    &--bell {
        &::after {
            content: "25";
            background-color: rgb(255, 106, 108);
        }
    }

    &--mail {
        &::after {
            content: "6";
            background-color: $green;
        }
    }

    &--cart {
        &::after {
            content: "2";
            background-color: rgb(6, 116, 236);
        }
    }
}

.account {
    display: flex;
    align-items: center;
    margin-left: 48px;

    &__text {
        margin-left: 22px;
        display: block;
        font-size: 16px;
        @include f500;
        line-height: 22px;
    }

    &__img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 100%;
    }

    &__link {
        color: $text-color--dark;
        display: block;
        transition: all 0.3s;

        &:hover {
            color: $yellow;
        }
    }

    &__price {
        color: $bg-blue;
    }
}

/* -------------------------------------------------------------------------- */
/*                                  subheader                                 */
/* -------------------------------------------------------------------------- */

.subheader {
    background-color: rgb(255, 255, 255);

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 80px;
    }
}

.menu {
    &__list {
        display: flex;
        justify-content: space-between;
        color: $text-color--dark;
        font-size: 15px;
        @include f500;
        line-height: 42px;
        text-transform: uppercase;
    }

    &__link {
        transition: all 0.3s;

        &:hover {
            color: $green;
        }
    }
}


.menu__item {
    list-style-type: none;

    &+.menu__item {
        margin-left: 30px;
    }

}

.header-form {
    min-width: 360px;
    position: relative;

    &__search {
        width: 100%;
        height: 46px;
        border-radius: 23px;
        padding: 0 75px 0 25px;
        border: 1px solid rgb(217, 223, 229);

        &:focus {
            border: 1px solid $bg-blue;
        }
    }

    &__btn {
        position: absolute;
        top: 0;
        right: 0;
        border: 1px solid $bg-blue;
        font-size: 0;
        background-color: $bg-blue;
        padding: 15px 26px;
        border-radius: 23px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            border: 1px solid $bg-blue;
        }
    }
}

.lnr-magnifier {
    // search icon 
    font-size: 15px;
    color: #fff;

    &:hover {
        color: black;
    }
}


/* -------------------------------------------------------------------------- */
/*                                Promo SECTION                               */
/* -------------------------------------------------------------------------- */

.promo {
    min-width: 100%;
    background-color: rgba(68, 28, 124, 0.8);
    background-image: linear-gradient(to left, rgb(0, 48, 222) 0%, rgb(46, 90, 251) 100%);
}

.promo-inner {
    min-height: 726px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 60px;
    text-align: center;
    color: $bg-grey;

    &__title {
        font-size: 60px;
        @include f400;
        padding-top: 10px;
    }

    &__subtitle {
        font-size: 60px;
        @include f700;
        padding-bottom: 38px;
    }

    &__descr {
        font-size: 20px;
        @include f500;
        padding-bottom: 40px;
    }

    &__links {
        padding-top: 25px;
    }

    &__btn {
        margin-top: 10px;
        border: 1px solid white;
        background-color: transparent;
        border-radius: 28px;
        font-size: 16px;
        @include f400;
        padding: 20px 32px;

        &+.promo-inner__btn {
            margin-left: 30px;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                              SUBPROMO SECTION                              */
/* -------------------------------------------------------------------------- */

.section {
    max-height: 710px;
    min-width: 100%;
}



.subpromo-form {
    min-width: 100%;
    max-height: 135px;
    padding: 40px;
    display: flex;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    transform: translateY(calc(-135px/2));

    &::after,
    &::before {
        content: "";
        position: absolute;
        min-height: 30px;
        background-color: rgb(255, 255, 255);
        opacity: 0.5;
        border-radius: 6px;
    }

    &::after {
        transform: translateY(-66px);
        min-width: 1070px;
        left: 30px;
    }

    &::before {
        min-width: 1100px;
        transform: translateY(-53px);
        left: 15px;
    }

    &__dropdown-select {
        display: inline-block;
        padding: 12px 73px 13px 20px;
        color: $card-text;
        font-size: 16px;
        @include f400;
        border: 1px solid $bg-grey;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        cursor: pointer;
    }


    &__input {
        min-height: 55px;
        width: 100%;
        border: 1px solid $bg-grey;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding: 20px 30px;

        &::placeholder {
            color: $card-text;
            font-size: 16px;
            @include f400;
        }
    }

    &__btn {
        min-width: 223px;
        border-radius: 4px;
        margin-left: 30px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        @include f400;
        white-space: nowrap;
    }
}

.subpromo-inner {
    display: flex;
    padding: 50px 0 120px;
}

.subpromo-card {
    min-width: 361px;
    max-height: 403px;
    padding: 41px 35px 49px 41px;
    text-align: center;
    transition: all 0.3s;

    &:hover {
        box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
    }

    &__img {
        width: 120px;
        height: 120px;
        object-fit: fill;
        margin: 0 auto;
    }

    &__title {
        color: rgb(0, 0, 0);
        @include f500;
        font-size: 25px;
        padding: 29px 0 21px;
        line-height: 7.2px;
    }

    &__text {
        margin: 0;
        color: $card-text;
        font-size: 16px;
        @include f400;
        line-height: 30px;
    }
}




/* -------------------------------------------------------------------------- */
/*                               Template_slider                              */
/* -------------------------------------------------------------------------- */
.template-slider {
    background-color: $bg-grey;
    width: 100%;
}

.slider__item {
    margin-top: 10px;
}

.slider-wrapper {
    min-height: 850px;
    padding: 130px 0;
    position: relative;
}

.title-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding: 0px 26px 0 20px;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    margin-bottom: 50px;

    &__text {
        color: rgb(0, 0, 0);
        font-size: 30px;
        @include f400;
    }

    &__button {
        width: 57px;
        height: 45px;
        font-size: 0;
        border: none;
        background-color: rgb(115, 71, 193);

        &--prev {
            border-bottom-left-radius: 23px;
            border-top-left-radius: 23px;
            margin-left: auto;
        }

        &--next {
            border-bottom-right-radius: 23px;
            border-top-right-radius: 23px;
        }
    }
}

/*Slider Arrows*/
.slick-prev,
.slick-next {
    position: absolute;
    top: -115px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.slick-prev {
    right: 94px;
}

.slick-next {
    right: 40px;
}

.card {
    max-width: 1120px;
    max-height: 450px;
    background-color: rgb(255, 255, 255);
    display: flex;

    &__picture {
        display: flex;
        width: 574px;
        max-height: 450px;
        overflow: hidden;
        position: relative;

        &:hover .card__buttons {
            left: 0;
            top: 0;
        }
    }

    &__buttons {
        display: flex;
        left: 100%;
        top: 100%;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all 0.3s;
        background-color: rgb(0, 150, 136);
        background-image: linear-gradient(to left, rgb(6, 116, 236) 0%, rgb(115, 71, 193) 100%);
        opacity: 0.9;
        z-index: 1;
    }

    &__link {
        &+.card__link {
            margin-left: 11px;
        }
    }

    &__img {
        position: relative;
        min-width: 574px;
        width: 100%;
        max-height: 450px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__content {
        max-width: 585px;
        padding: 27px 30px 20px 43px;
    }

    &__title {
        color: rgb(0, 0, 0);
        font-size: 24px;
        @include f500;

        padding: 27px 3px 0;
    }

    &__text {
        color: $card-text;
        font-size: 16px;
        @include f400;
        line-height: 30px;
        margin: 0;
        padding: 10px 0;
    }

    &__tags {
        padding: 25px 8px 24px;
        border-bottom: 1px solid $bg-grey;
    }

    &__tags-item {
        padding: 7px 15px;
        color: $icon-color;
        font-size: 15px;
        @include f400;
        border-radius: 14px;
        background-color: $bg-grey;
    }

    &__content-footer {
        display: flex;
        align-items: center;
        justify-content: start;
        padding-top: 37px;
    }

    &__like {
        margin-left: 19px;
    }

    &__cart {
        margin-left: 45px;
    }

    &__buy-btn {
        padding: 8px 17px;
    }

}

.user {
    display: flex;
    align-items: center;
    padding: 15px 0;
    font-size: 15px;
    @include f400;
    line-height: 30px;

    &__avatar {
        width: 35px;
        height: 30px;
        border-radius: 100%;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 9px;
    }

    &__name {
        color: rgb(0, 0, 0);
        margin-right: 21px;
    }

    &__icon {
        width: 16px;
        height: 16px;
        margin-right: 9px;

        &--wordpress {
            width: 15px;
            height: 16px;
        }

        &--psd {
            width: 13px;
            height: 17px;
        }

        &--html {
            width: 15px;
            height: 15px;
            color: rgb(115, 71, 193);
        }
    }

    &__tech {
        padding-left: 30px;
        position: relative;

        &--html {
            &:before {
                position: absolute;
                content: '';
                background-image: url(../img/icons/html5.svg);
                width: 16px;
                height: 16px;
                top: 0;
                left: 0;
            }
        }

        &--wordpress {

            &:before {
                position: absolute;
                content: '';
                background-image: url(../img/icons/wordpress.svg);
                width: 16px;
                height: 16px;
                top: 0;
                left: 0;
            }
        }

        &--psd {

            &:before {
                position: absolute;
                content: '';
                background-image: url(../img/icons/psd.svg);
                width: 13px;
                height: 16px;
                top: 0;
                left: 0;
            }
        }

        &--html {

            &:before {
                position: absolute;
                content: '';
                background-image: url(../img/icons/html5.svg);
                width: 15px;
                height: 15px;
                top: 0;
                left: 0;
            }
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                               Product section                              */
/* -------------------------------------------------------------------------- */
.products {
    padding: 120px 0;
    background-color: rgb(246, 247, 251);
}

.title-block {

    &--tab {
        line-height: 28px;
        position: relative;
        height: 100px;
        margin-bottom: 25px;
    }

    &__btn {
        position: relative;
        margin-right: 30px;
        padding: 20px 0;
        border: none;
        color: card-text;
        font-size: 16px;
        background-color: white;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            background-image: url(../img/icons/verticaldots.svg);
            left: 95px;
            width: 10px;
            height: 16px;
        }
    }
}

.mixitup-control-active {
    border: none;
    background-color: transparent;
}

// dropDown Menu
.dropdown {

    display: none;
    position: absolute;
    margin: 0;
    padding: 27px 53px 26px 28px;
    min-width: 183px;
    min-height: 179px;
    box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    right: 26px;
    bottom: -135%;
    color: $icon-color;
    font-size: 15px;
    @include f400;
    line-height: 28px;
    transition: all 0.3s;

    &:after {
        content: '';
        position: absolute;
        top: -16px;
        right: 0;
        width: 18px;
        height: 16px;
        border-style: solid;
        border-width: .5em .5em .5em .5em;
        border-color: transparent transparent white transparent;
        box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);

    }

    &__item {
        list-style-type: none;
    }

    &__link {
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover {
            color: $bg-blue;
        }
    }
}

.dropdown--active {
    display: block;
}

.product-tab {
    min-height: 92px;
    background-color: #fff;
    padding: 30px 85px 30px 30px;
    margin-bottom: 47px;
}


.product-box {
    &__btn {
        padding: 8px 18px;
        border-radius: 20px;
        border: 1px solid $bg-grey;
        background-color: $bg-grey;
        color: $icon-color;
        font-size: 15px;
        @include f400;
        transition: all 0.3s;

        &:hover {
            background-color: $bg-blue;
            color: $bg-grey;
        }
    }

    &__btn+.product-box__btn {
        margin-left: 3px;
    }
}

.product__inner {
    display: flex;
    flex-direction: column;
}

.product__inner-button {
    margin: 0 auto;
    margin-top: 30px;
    padding: 18px 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    background-color: rgb(6, 116, 236);
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        display: flex;
        flex-direction: column;
        min-height: 530px;
        max-width: 361px;
        margin-bottom: 30px;
    }

    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 361px;
        height: 230px;
        overflow: hidden;
        position: relative;

        &:hover .product-card__buttons {
            left: 0;
        }
    }

    &__img {
        position: relative;
        width: 361px;
        height: 230px;
        object-fit: cover;
    }

    &__buttons {
        display: flex;
        left: 100%;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all 0.3s;
        background-color: rgb(0, 150, 136);
        background-image: linear-gradient(to left, rgb(6, 116, 236) 0%, rgb(115, 71, 193) 100%);
        opacity: 0.9;
        z-index: 1;
    }

    &__link {
        &+.product-card__link {
            margin-left: 11px;
        }
    }

    &__content {
        padding-top: 35px;
        box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
    }

    &__content-main {
        padding: 0 39px 0 30px;
    }

    &__title {
        color: rgb(0, 0, 0);
        font-size: 20px;
        @include f500;
        line-height: 7.2px;
        padding-bottom: 7px;
    }

    &__user {
        padding: 15px 0 23px 0;
        display: flex;
        align-items: center;
    }

    &__text {
        margin: 0;
        color: $card-text;
        font-size: 16px;
        @include f400;
        line-height: 30px;
        padding-bottom: 34px;
    }

    &__content-footer {
        padding: 10px 30px;
        border-top: 1px solid rgb(236, 236, 236);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__btn {
        padding: 8px 17px;
        color: $bg-blue;
        font-size: 15px;
        @include f500;
        background-color: rgba(6, 116, 236, 0.1);
        border: 1px solid rgba(6, 116, 236, 0.1);
        margin-right: 13px;
    }

    &__like {
        margin-right: auto;
        position: relative;

        &::after {
            content: "90";
            position: absolute;
        }
    }

    &__cart {
        margin-right: 34px;

        &::after {
            content: "246";
        }
    }
}